html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    cursor: crosshair;
    font-family: 'Roboto', sans-serif;
    background-color: #0F1014;
    color: #fff;
}

span {
    color: #16E9D6;
}

.content {
    width: 60%;
    margin: 0 auto;
    z-index: -1;
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(0, -50%);
}

.content h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 54px;
    color: #515255;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.content p {
    margin-top: 0;
    text-align: left;
    color: #515255;
    font-weight: 400;
}

.overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #0F1014;
}

.overlay p {
    font-size: 300px;
    font-weight: 800;
}

.screen {
    color: #515255;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.myBtn {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    display: block;
    padding: 24px 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 6px;
    color: #515255;
    border: 2px solid #16E9D6;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: crosshair;
    transition: 0.8s ease-out;
}

.myBtn:hover {
    color: #101010;
    position: absolute;
}

.myBtn:before {
    content: "";
    position: absolute;
    background: #16E9D6;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.8s ease-out;
}

.myBtn:hover:before {
    top: 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1645px) {
    .overlay p {
        font-size: 200px;
        font-weight: 800;
    }

    .myBtn {
        top: 43%;
    }
}

@media screen and (max-width: 1142px) {
    .overlay p {
        font-size: 160px;
        font-weight: 700;
    }

    .myBtn {
        top: 43%;
    }
}

@media screen and (max-width: 1016px) {
    .overlay p {
        font-size: 160px;
        font-weight: 700;
    }

    .myBtn {
        top: 43%;
        left: 50%;
    }

@media screen and (max-width: 910px) {
        .overlay p {
            font-size: 110px;
            font-weight: 700;
        }
    
        .myBtn {
            top: 40%;
            left: 50%;
        }

@media screen and (max-width: 600px) {
        .overlay p {
                font-size: 80px;
                font-weight: 700;
            }
        
        .myBtn {
                top: 38%;
                left: 50%;
            }  
            
@media screen and (max-width: 414px) {
        .overlay p {
            font-size: 60px;
            font-weight: 700;
        }
                
        .myBtn {
            top: 38%;
            left: 50%;
        }                
}
